<!doctype html>
<html lang="en">
  <head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CubeScramble</title>
    <link rel="icon" href="https://scontent.fsin9-2.fna.fbcdn.net/v/t1.0-9/66495555_868118760214546_8897381016906235904_o.png?_nc_cat=109&_nc_oc=AQnDp9LeoimO6LV4k8jYkSf5RWJN1x6lukmd9wAykXojplVqVpCJrT2hJwOIHZqyKT4&_nc_ht=scontent.fsin9-2.fna&oh=b030c323e6535398ae14cb95656d9b43&oe=5DE37530" type="image/png">  

  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a class="text-dark"href="/">CubeScramble</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/reconstructions">Reconstruct</a>
        <a class="p-2 text-dark" href="/scramble">Scramble</a>    
        <a class="p-2 text-dark" href="/login">Login</a>
      </nav>
      <a class="btn btn-outline-primary" href="/sign-up">Sign up</a>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1><a type="a" class="btn btn-lg btn-block btn-outline-primary d-flex justify-content-center" href="#" style="width: 25%; margin-left: 36%;">Upload Video</a></h1>
      
      
    </div>
    <div class="container">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Reconstruction</h1>
<p>Scramble:  F2 R' F' L B U2 L B2 D F2 R' B' R' D2 F D2 L2 B' U' L2 R2 B2 F R B U2 B' L' R2 D</p>
<h5>Solution</h5>
<p>x2 B' U' R B' L D R2 D //Cross</p>
<p>U R U R' F U F' //First Pair</p>
<p>U' R' U R U' R' U' R //Second Pair</p>
<p>U R U R' y R' U R //Third Pair</p>
<p>L' U L U y' R' F R F'  R' F R F'//Fourth Pair + EO</p>
<p>U' R U R' U R U2 R' //OLL (Sune)</p>
<p>R2 U R U R' U' R' U' R' U R' //PLL (Ub Perm)</p>
<a href="https://alg.cubing.net/?setup=F2_R-_F-_L_B_U2_L_B2_D_F2_R-_B-_R-_D2_F_D2_L2_B-_U-_L2_R2_B2_F_R_B_U2_B-_L-_R2_D&alg=x2_B-_U-_R_B-_L_D_R2_D_%2F%2FCross%0AU_R_UR-_F_U_F-_%2F%2FFirst_Pair%0AU-_R-_U_R_U-_R-_U-_R_%2F%2FSecond_Pair%0AU_R_U_R-_y_R-_U_R_%2F%2FThird_Pair%0AL-_U_L_U_y-_R-_F_R_F-__R-_F_R_F-%2F%2FFourth_Pair_%26%232b%3B_EO%0AU-_R_U_R-_U_R_U2_R-_%2F%2FOLL_(Sune)%0AR2_U_R_U_R-_U-_R-_U-_R-_U_R-_%2F%2FPLL_(Ub_Perm)" target="_blank">View on virtual cube</a>
  </div>
</div>

<br>
</div>
  </body>
<%# <h1>This is the page where you will make your own reconstructions</h1>
<p>Scramble:  F2 R' F' L B U2 L B2 D F2 R' B' R' D2 F D2 L2 B' U' L2 R2 B2 F R B U2 B' L' R2 D</p>
<h5>Solution</h5>
<p>x2 B' U' R B' L D R2 D //Cross</p>
<p>U R U R' F U F' //First Pair</p>
<p>U' R' U R U' R' U' R //Second Pair</p>
<p>U R U R' y R' U R //Third Pair</p>
<p>L' U L U y' R' F R F'  R' F R F'//Fourth Pair + EO</p>
<p>U' R U R' U R U2 R' //OLL (Sune)</p>
<p>R2 U R U R' U' R' U' R' U R' //PLL (Ub Perm)</p>
<a href="https://alg.cubing.net/?setup=F2_R-_F-_L_B_U2_L_B2_D_F2_R-_B-_R-_D2_F_D2_L2_B-_U-_L2_R2_B2_F_R_B_U2_B-_L-_R2_D&alg=x2_B-_U-_R_B-_L_D_R2_D_%2F%2FCross%0AU_R_UR-_F_U_F-_%2F%2FFirst_Pair%0AU-_R-_U_R_U-_R-_U-_R_%2F%2FSecond_Pair%0AU_R_U_R-_y_R-_U_R_%2F%2FThird_Pair%0AL-_U_L_U_y-_R-_F_R_F-__R-_F_R_F-%2F%2FFourth_Pair_%26%232b%3B_EO%0AU-_R_U_R-_U_R_U2_R-_%2F%2FOLL_(Sune)%0AR2_U_R_U_R-_U-_R-_U-_R-_U_R-_%2F%2FPLL_(Ub_Perm)" target="_blank">Link to alg.cubing.net</a>
<br>
<br>
<a href="/my-reconstructions">My Reconstructions</a> %>